@model IEnumerable<Order>
@using OnlineShopping.Model

<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <h2>Sipariş Listesi</h2>
        </div>
        <div class="col-6">
          
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped my-2">
            <thead class="text-center">
                <tr>
                    <th>
                        Sipariş Id
                    </th>
                    <th>
                        Ad Soyad
                    </th>
                     <th>
                        Fiyat
                    </th>
                      <th>
                        Durum
                    </th>
                  
                </tr>
            </thead>
            <tbody class="text-center align-middle">                 
                @foreach (var Order in Model)
                {
                    <tr>
                        <td>@Order.Id</td>
                        <td >@Order.Name</td>
                        <td >@Order.OrderPrice</td>
                        <td>@Order.OrderStatus</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-id="@Order.Id" class="btn btn-success">
                                Detaylar
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

