@page
@model RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Kullanıcı Kayıt Formu</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating form-floating form-floating py-2 col-6 col-6 col-12">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating form-floating py-2 col-6 col-6 col-6">
                <input asp-for="Input.FullName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.FullName"> İsim</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating form-floating py-2 col-6 col-6 col-6">
                <input asp-for="Input.CellPhone" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.CellPhone"> Telefon No</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating form-floating py-2 col-6 col-6 col-6">
                <input asp-for="Input.Address" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Address"> Adres</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating form-floating py-2 col-6 col-6 col-6">
                <input asp-for="Input.PostalCode" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.PostalCode"> Posta Kodu</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating form-floating py-2 col-6 col-6 col-6">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password">Şifre</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating form-floating py-2 col-6 col-6 col-6">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword">Şifre Tekrarı</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success">Kayıt Ol</button>
        </form>
    </div>
    <div class="col-md-4">
        <section>
            <h3>Önemli Not</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Lütfen alanları eksiksiz doldurunuz. Şifrenizi en az 6 karakter olacak şekilde giriniz.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
