@model IEnumerable<Product>
@using OnlineShopping.Model


<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Ürün Listesi</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Product" asp-action="Crup" class="btn btn-success ">
                <span>Yeni Ürün Ekle</span>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <table class="table table-bordered table-striped my-1">
            <thead>
                <tr>
                    <th>
                        Ürün Resmi
                    </th>
                    <th>
                        Ürün Adı
                    </th>
                     <th>
                        Fiyat
                    </th>
                    <th>
                       İşlemler 
                    </th>
                </tr>
            </thead>
            <tbody class="text-center">                
                @foreach (var product in Model)
                {
                    <tr>
                        <td><img src="@product.Picture" width="150px"/></td>
                        <td class="pt-4 align-middle">@product.Name</td>
                        <td class="pt-4 align-middle">@product.Price</td>
                        <td class="align-middle">
                            <a asp-controller="Product" asp-action="Crup" asp-route-id="@product.Id" class="btn btn-success">
                                Güncelle
                            </a>

                             <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">
                                Sil
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
